.headerRoot{
    border-bottom: 1px solid gray;
    margin: 10px 0;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.marked{
    color: blue;
}

.logoText{
    font-size: 200%;
    font-weight: bold;
}